---
---

{% if '{{[fmt]}}' == 'xml' %}
{% assign section = '7' %}
{% elsif '{{[fmt]}}' == 'json' %}
{% assign section = '8' %}
{% else %}
{% assign section = '9' %}
{% endif %}

{% include fragment-pagebegin.html %}
<div style="counter-reset: section {{section}}" class="col-12">
<!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
{% include fragment-base-navtabs.html type='{{[type]}}' id='{{[id]}}' active='{{[fmt]}}' %}

<a name="root"> </a>
{% if site.data.artifacts[page.path].example %}
  {% assign example = 'Example ' %}
{% endif %}
{% assign prefix = site.data.artifacts[page.path].type %}
<h2 id="root">{{example}}{{prefix}}: {{site.data.pages[page.path].title | escape_once}}</h2>
{% include fragment-simpletable.html %}
<div id="orig">
<p><a href="{{[type]}}-{{[id]}}.{{[fmt]}}" no-download="true">Raw {{[fmt]}}</a> | <a href="{{[type]}}-{{[id]}}.{{[fmt]}}" download>Download</a></p>

  <!-- insert intro if present -->
  {% include fragment-intro.html type='{{[type]}}' id='{{[id]}}' %}

  {% include {{[type]}}-{{[name]}}.xhtml %}

  <!-- insert notes if present -->
  {% include fragment-notes.html type='{{[type]}}' id='{{[id]}}' %}
</div>
<div id="download" style="display:none">
<table class="grid table table-bordered">
	<tbody>
	
		<tr>
			<td><a href="#" onclick="window.open('./listFormat/{{[type]}}-{{[id]}}.tabs','_blank')">csv</a> </td>
			<td> Fichier csv (.tabs)</td>
		</tr>

		
		<tr>
			<td><a href="#" onclick="window.open('./listFormat/{{[type]}}-{{[id]}}-svs.xml','_blank')">svs</a> </td>
			<td>  Fichier xml (Sharing Value Sets) </td>
		</tr>
		<tr>
			<td><a href="#" onclick="window.open('./{{[type]}}-{{[id]}}.json','_blank')">fhir</a> </td>
			<td>  Fichier Fhir Json  </td>
		</tr>
		<tr>
			<td><a href="#" onclick="window.open('./{{[type]}}-{{[id]}}.xml','_blank')">fhir</a> </td>
			<td>  Fichier Fhir Xml  </td>
		</tr>		
		
	</tbody>
	</table>

</div>
</div>
{% include fragment-pageend.html %}
