---
---

{% if 'ttl' == 'xml' %}
{% assign section = '7' %}
{% elsif 'ttl' == 'json' %}
{% assign section = '8' %}
{% else %}
{% assign section = '9' %}
{% endif %}

{% include fragment-pagebegin.html %}

<div style="counter-reset: section {{section}}" class="col-12">
<!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
{% include fragment-base-navtabs.html type='CodeSystem' id='to_replace' active='download' %}

<a name="root"> </a>

{% include fragment-simpletable.html %}

<p>
	<a href="to_replace.csv" ="true">csv</a> 
</p>
<p>
	<a href="to_replace.pdf" >pdf</a>
</p>
<p>
	<a href="to_replace.svs" >svs</a>
</p>


</div>
{% include fragment-pageend.html %}
