---
---

{% if 'ttl' == 'xml' %}
{% assign section = '7' %}
{% elsif 'ttl' == 'json' %}
{% assign section = '8' %}
{% else %}
{% assign section = '9' %}
{% endif %}

{% include fragment-pagebegin.html %}

<div style="counter-reset: section {{section}}" class="col-12">
<!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
{% include fragment-base-navtabs.html type='CodeSystem' id='header_to_replace' active='download' %}

<a name="root"> </a>

{% include fragment-simpletable.html %}
<table class="grid">
	<tbody>
		<tr>
			<td><a href="./nos/to_replace.tabs" >csv</a> </td>
			<td> Fichier csv </td>
		</tr>
		<tr>
			<td><a href="./nos/to_replace.pdf" >Pdf</a> </td>
			<td> Fichier PDF </td>
		</tr>	
		
		<tr>
			<td><a href="./nos/to_replace.xml" >svs</a> </td>
			<td>  Fichier xml (Sharing Value Sets) </td>
		</tr>
		<tr>
			<td><a href="./nos/to_replace-FHIR.json">fhir</a> </td>
			<td>  Fichier Fhir Json  </td>
		</tr>
		<tr>
			<td><a href="./nos/to_replace-FHIR.xml" >fhir</a> </td>
			<td>  Fichier Fhir Xml  </td>
		</tr>		
		
	</tbody>
	</table>
		



</div>
{% include fragment-pageend.html %}
